.journal-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-auto-rows: minmax(800px, 820px);
    gap: 2rem;
    padding: 1rem 5rem;
}

@media only screen and (max-width: 500px){
    .journal-content{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-auto-rows: minmax(750px, 800px);
        padding: 1rem;
    }
}