@import '../../assets/styles/variables';
@import '../../assets/styles/base';
@import '../../assets/styles/mixins';

.banner-section{
    height: 100vh;
    width: 100%;
    @include flex(row, center, center);
}

.banner-left{
    flex: 1 1 40rem;
    height: 100%;
    width: 100%;
    @include flex(column, flex-end, flex-start);
    padding: 0 0 5rem 5rem;
    p{
        max-width: 500px;
    }
}

.banner-right{
    flex: 1 1 40rem;
    height: 100%;
    width: 100%;
    background-color: $highlight-color;
    @include flex(column, center, center);
    img{
        width: 70%;
        height: 85%;
        object-fit: cover;
        padding-top: 5%;
    }
    a{
        padding: 0.5rem 0 0 0;
    }
}

// Tablet screen
@media only screen and (max-width: 820px){
    .banner-section{
        @include flex(column, center, center);
    }
    .banner-left{
        order: 2;
        @include flex(column, center, center);
        padding: 2rem 0;
    }
    .banner-right{
        order: 1;
        img{
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
    }
}

//Mobile screen
@media only screen and (max-width: 500px){
    .banner-section{
        @include flex(column, center, center);
    }
    .banner-left{
        height: 100%;
        width: 100%;
        @include flex(column, center, center);
        padding: 1rem 0;
        p{
            max-width: 350px;
        }
    }
    .banner-right{
        order: 1;
        height: 100vh;
        img{
            width: 100%;
            height: 90%;
        }
    }
}