// import our css assets
@import '../../assets/styles/variables';
@import '../../assets/styles/base';
@import '../../assets/styles/mixins';

.cardItem{
    width: 100%;
    height: 100%;
    &:hover{
        cursor: pointer;
        img{
            opacity: 0.75;
        }
    }
    img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        transition: $transition;
    }
    .cardItem-name{
        padding: 1rem 0;
    }
    p{
        padding: 1rem 1rem 1rem 0;
    }
}